/*Header*/
.cabecalho{
	background: linear-gradient(to bottom right, $cor-degrade, $cor-padrao);
	padding: 35px;

	p {
		width: 20px;
		height: 20px;
		color: $cor-textos;
		font-size: 1.2em;
		font-weight: bold;
		position: absolute;
		top: 63px;
	}
}

.icone-contato{
	position: absolute;
	top: 10px;
	left: 45px;
	width: 50px;
	height: 50px;

	&:hover{
		background: white;
		border: none;
		border-radius: 30px;
		cursor: pointer;
	}
}

.menu li{
	display: inline-block;
	padding: 0 80px;
	color: $cor-textos;
	font-weight: bold;
}

.link{
	text-decoration: none;
	color: $cor-textos;
	transition: 1s;

	&:hover{
		font-size: 25px;
		background: $cor-degrade;
		color: $cor-textos;
		border: none;
		border-radius: 10px;
	}
}